{% load static %}


<!DOCTYPE html>

<html>
  <head>
  <title>videos</title>
  <link rel="stylesheet" href="{% static 'alanwatts/stylesheet.css' %}" >
</head>


<head>
  <title>videos</title>
</head>


<body>
    <div class="header">
      <h1 id = "titre_principal">
           <a> Alan Watts </a>
      </h1>
    </div>
<iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/WfVJUKlbWVw?controls=0" title="Watts conference" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>




<div id="myNav" class="overlay">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <div class="overlay-content">
     <a href="/index">Main menu</a>
     <a href="/life">His life</a>
     <a href="/index">His teachings</a>
     <a href="/videos">His conferences</a>
     <a href="/index">His books</a>
   </div>
  </div>

<span onclick="openNav()"> <img id= "bouton" src= "https://w7.pngwing.com/pngs/639/1013/png-transparent-hamburger-button-computer-icons-drop-down-list-fast-food-menu-rectangle-share-icon-pancake-thumbnail.png"> </span>


<script>
    function openNav() {
      document.getElementById("myNav").style.width = "30%";
    }
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>

</html>
